<head>
  <script>
    // This example adds a user-editable rectangle to the map.
    // When the user changes the bounds of the rectangle,
    // an info window pops up displaying the new bounds.

    var rectangle;
    var map;
    var infoWindow;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: 41.8780, lng: -93.0977}
      });

      var bounds = {
        north: 41.937,
        south: 41.739,
        east: -93.430,
        west: -93.743
      };

      // Define the rectangle and set its editable property to true.
      rectangle = new google.maps.Rectangle({
        bounds: bounds,
        editable: true,
        draggable: true
      });

      rectangle.setMap(map);

      // Add an event listener on the rectangle.
      rectangle.addListener('bounds_changed', showNewRect);

      // Define an info window on the map.
      infoWindow = new google.maps.InfoWindow();

      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

      // Add some markers to the map.
      // Note: The code uses the JavaScript Array.prototype.map() method to
      // create an array of markers based on a given "locations" array.
      // The map() method here has nothing to do with the Google Maps API.
      var markers = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location,
          label: labels[i % labels.length]
        });
      });

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
          {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }

    var latitudes = <%= @lats.inspect.html_safe %>
    var longitudes = <%= @lons.inspect.html_safe %>
    
    var locations = [];
    for(var i in latitudes){
      locations.push( {"lat": latitudes[i], "lng": longitudes[i]});
    }
    // Show the new coordinates for the rectangle in an info window.

    /** @this {google.maps.Rectangle} */
    function showNewRect(event) {
      var ne = rectangle.getBounds().getNorthEast();
      var sw = rectangle.getBounds().getSouthWest();

      var contentString = '<b>Rectangle moved.</b><br>' +
          'New north-east corner: ' + ne.lat() + ', ' + ne.lng() + '<br>' +
          'New south-west corner: ' + sw.lat() + ', ' + sw.lng();

      // Set the info windows content and position.
      infoWindow.setContent(contentString);
      infoWindow.setPosition(ne);

      infoWindow.open(map);

      document.getElementById("bounding_box_latitude_1_box").value = ne.lat();
      document.getElementById("bounding_box_latitude_2_box").value = sw.lat();
      document.getElementById("bounding_box_longitude_1_box").value = sw.lng();
      document.getElementById("bounding_box_longitude_2_box").value = ne.lng();

     
    }
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
</head>

<div class="col-md-8 offset-md-2 mx-auto">
<h2>
  Add a new request for <strong>Traffic Data</strong>
</h2>
</div>


<div class="row h-100">
  <div class="col-md-4  offset-md-2">
    <form action="/insert_request" method="post">
      <div class="form-group">
        <label for="data_tag_id">
          Select type of data
        </label>

        <select class="form-control" id="data_tag_id" name="data_tag_from_query">
          <option selected="selected" value="Speed">Speed</option>
          <option value="Count">Count</option>
          <option value="SpeedCount">Speed and Count</option>
          
        </select>
      </div>

      <div class="form-group">
        <label for="begin_time_box">
          Start time
        </label>

        <input type="time" id="begin_time_box" name="begin_time_from_query" class="form-control" min="00:00" max="24:00" value="00:00">
      </div>

      <div class="form-group">
        <label for="end_time_box">
          End time
        </label>

        <input type="time" id="end_time_box" name="end_time_from_query" class="form-control" min="00:00" max="24:00" value="24:00">
      </div>

      <div class="form-group">
        <input type="hidden" name="requestor_id_from_query" class="form-control" value="<%= @current_traffic_manager.id %>">
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="speed_range_lower_limt_box">
              Speed range 
              <br>
              Lower limt in km/hr
            </label>
            <input type="text" id="speed_range_lower_limt_box" name="speed_range_lower_limt_from_query" class="form-control" value="0">
          </div>
          <div class="col">
            <label for="speed_range_upper_limit_box">
              <br>
              Upper limit in km/hr
            </label>
            <input type="text" id="speed_range_upper_limit_box" name="speed_range_upper_limit_from_query" class="form-control" value="130">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="bounding_box_latitude_1_box">
              Select using the map<br>
              Latitude: North 
            </label>

            <input type="text" id="bounding_box_latitude_1_box" name="bounding_box_latitude_1_from_query" class="form-control" value="41.937">
          </div>
          <div class="col">
            <label for="bounding_box_longitude_1_box">
              <br>
              Longitude: West
            </label>

            <input type="text" id="bounding_box_longitude_1_box" name="bounding_box_longitude_1_from_query" class="form-control" value="-93.743">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="bounding_box_latitude_2_box">
              Latitude: South
            </label>

            <input type="text" id="bounding_box_latitude_2_box" name="bounding_box_latitude_2_from_query" class="form-control" value="41.739">
          </div>
          <div class="col">
            <label for="bounding_box_longitude_2_box">
              Longitude: East
            </label>

            <input type="text" id="bounding_box_longitude_2_box" name="bounding_box_longitude_2_from_query" class="form-control" value="-93.430">
          </div>
        </div>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create request
      </button>
    </form>
  </div>

  <div id="map" class="col-md-5">
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUXXnvUe-InS25W8HjSp-IH1CKRIIzSx4&libraries=places&callback=initMap">
    </script>
  </div>


  
</div>