<head>
  <script>
    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7.5,
        center: {lat: 41.8780, lng: -93.0977}
      });

      // Create an array of alphabetical characters used to label the markers.
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

      // Add some markers to the map.
      // Note: The code uses the JavaScript Array.prototype.map() method to
      // create an array of markers based on a given "locations" array.
      // The map() method here has nothing to do with the Google Maps API.
      var markers = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location,
          label: labels[i % labels.length]
        });
      });

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
          {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }

    var latitudes = <%= @lats.inspect.html_safe %>
    var longitudes = <%= @lons.inspect.html_safe %>
    
    var locations = [];
    for(var i in latitudes){
      locations.push( {"lat": latitudes[i], "lng": longitudes[i]});
    }

  </script>

  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
</head>

<!--
<script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var uluru = {lat: 41.8780, lng: -93.0977};
    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 5, center: uluru});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});
  }
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->

<div class="row mb-3">
  <div class="mx-auto">
    <h2>  Current sensor locations <span class="badge badge-secondary"></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-4">
    <ul style="list-style-type:none;"> 
      <li>
        <a href="/add_new_sensor_page">Add a sensors</a>
      </li>
      <li>
        <a href="/show_sensor_list">View sensor list</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-3">
    <ul style="list-style-type:none;"> 
      <li>
        <a href="/sensors">Reset Zoom</a>
      </li>
    </ul>
  </div>
</div>


<div id="map" class="container">
  <div class="col-md-10">
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5qwIlcKjijP_Ptmv46mk4cCjuWhSzS78&libraries=places&callback=initMap">
    </script>
  </div>
</div>


