<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>Sign up</h2>
    <form action="/post_traffic_manager" method="post">

      <div class="form-group">
        <label for="email_box">Email</label>
        <input id="email_box" name="email_from_query" class="form-control" placeholder="Choose a email..." type="text">
      </div>
                    
      <div class="form-group">
        <label for="first_name_box">First name</label>
          
        <input type="text" id="first_name_box" class="form-control" name="first_name_from_query">
      </div>
            
      <div class="form-group">
        <label for="last_name_box">Last name</label>
          
        <input type="text" id="last_name_box" class="form-control" name="last_name_from_query">
      </div>
        
      <div class="form-group">
        <label for="password_box">Password</label>
        <input id="password_box" name="password_from_query" class="form-control" placeholder="Choose a password..." type="password">
      </div>

      <div class="form-group">
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="password_confirmation_from_query" class="form-control" placeholder="Confirm your password..." type="password">
      </div>

      <button class="btn btn-block btn-primary">
        Sign up
      </button>
    </form>

    <hr>

    <p>
      Or, <a href="/traffic_manager_sign_in">Sign in</a> instead.
    </p>

  </div>
</div>
