<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>Sign in</h2>
    <form action="/traffic_manager_verify_credentials" method="post">
      <div class="form-group">
        <label for="email_box">Email</label>
        <input id="email_box" name="email_from_query" class="form-control" placeholder="Enter your email..." type="text">
      </div >

      <div class="form-group">
        <label for="password_box">Password</label>
        <input id="password_box" name="password_from_query" class="form-control" placeholder="Enter your password..." type="password">
      </div>

      <button class="btn btn-block btn-primary">
        Sign in
      </button>
    </form>

    <hr>

    <p>
      Or, <a href="/traffic_manager_sign_up">Sign up</a> instead.
    </p>

  </div>
</div>
