<div class="row mb-3">
  <div class="mx-auto">
    <h2> Welcome to Iowa Traffic Data Exchange <span class="badge badge-secondary"></h2>
  </div>
</div>


<div class="row text-center">

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">1000+ Sensors Statewide</h5>
        <p class="card-text">Over thousand sensors state-wide collect
        comprehensive travel information from Interstates and Highways </p>
        <a href="/sensors" class="btn btn-primary">Look at Sensors</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">800,000+ data points</h5>
        <p class="card-text">Three different types of sensor collect speed, volume, and occupancy 
        data every two minutes all day</p>
        <a href="/requests" class="btn btn-primary">Look at Data</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">History</h5>
        <p class="card-text">Easily go back, look at historical data request to view and download the data</p>
        <a href="/request_history" class="btn btn-primary">Request History</a>
      </div>
    </div>
  </div>
</div>